APCA_API_KEY_ID = "PKSKG2QEMME5SO5XRZBDVSC2US"
APCA_API_SECRET_KEY = "5G7UQtHtKQnFJk1avdffCUWbzEyKFCyAJDHCyiZDxeyC"
APCA_PAPER = "true"
FRED_API_KEY = "7ada043633f404293948680b6567a13b"
SENTIMENT_BACKEND = "vader"
